@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 118px 52px 42px;
    margin: 50% auto;
    width: 550px;
    height: 550px; 
    background: #1F2937;
}

.heading h1 {
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    font-weight: 800;
    color: #FFFFFF;
}

.heading span {
    color: #34D399;
}

.supporting-text p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #D5D4D8;
}